<% include partials/header %>

<div class="container main-container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron home-jumbotron">
                <h1>WEB322 Records</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="col-md-12">
            <p>Curabitur congue elit urna, eget molestie elit sodales in. Orci varius natoque penatibus et magnis dis
                parturient montes, nascetur ridiculus mus. Vivamus vestibulum id justo vitae hendrerit. Proin quis nibh
                vitae sapien ultricies consectetur. Vivamus lacinia imperdiet lorem et bibendum. Nam vel quam a ipsum
                dapibus semper. Donec eget ligula metus. Integer rhoncus vel ipsum sed commodo. Ut finibus libero eget
                arcu auctor tincidunt. Mauris imperdiet feugiat metus, non eleifend lacus malesuada vel. Vivamus magna
                ligula, auctor sed eros ac, elementum pellentesque sapien.</p>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2018 - Student Name</p>
    </div>
</div>


<% include partials/footer %>
 
